<div>
    <object style="width:950px;height:800px">
        <param name="movie"
               value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;backgroundColor=%23222222&amp;documentId=120930143336-57a385c1b6a944c69c4ed5aa23003303"
                />
        <param name="allowfullscreen" value="true"/>
        <param name="menu"
               value="false"/>
        <param name="wmode" value="transparent"/>
        <embed
                src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf"
                type="application/x-shockwave-flash" allowfullscreen="true" menu="false"
                wmode="transparent" style="width:950px;height:800px"
                flashvars="mode=mini&amp;backgroundColor=%23222222&amp;documentId=120930143336-57a385c1b6a944c69c4ed5aa23003303"
                />
    </object>
</div>

<div>
    <object style="width:950px;height:800px">
        <param name="movie"
               value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;backgroundColor=%23222222&amp;documentId=120427095419-a41bf0c6cba14b3b9160a9538e9f72ac"/>
        <param name="allowfullscreen" value="true"/>
        <param name="menu" value="false"/>
        <param name="wmode" value="transparent"/>
        <embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf"
               type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent"
               style="width:950px;height:800px"
               flashvars="mode=mini&amp;backgroundColor=%23222222&amp;documentId=120427095419-a41bf0c6cba14b3b9160a9538e9f72ac"/>
    </object>
</div>
