
<%@ page import="com.mbwanajm.darproperty.References_table" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'references_table.label', default: 'References_table')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-references_table" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-references_table" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list references_table">
			
				<g:if test="${references_tableInstance?.refNo}">
				<li class="fieldcontain">
					<span id="refNo-label" class="property-label"><g:message code="references_table.refNo.label" default="Ref No" /></span>
					
						<span class="property-value" aria-labelledby="refNo-label"><g:fieldValue bean="${references_tableInstance}" field="refNo"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${references_tableInstance?.date}">
				<li class="fieldcontain">
					<span id="date-label" class="property-label"><g:message code="references_table.date.label" default="Date" /></span>
					
						<span class="property-value" aria-labelledby="date-label"><g:formatDate date="${references_tableInstance?.date}" /></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form>
				<fieldset class="buttons">
					<g:hiddenField name="id" value="${references_tableInstance?.id}" />
					<g:link class="edit" action="edit" id="${references_tableInstance?.id}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
