<html>
<head>

    <meta name="layout" content="main"/>
    <title>DarProperty >> Admin</title>
</head>

<body>

<g:render template="admin_directory"></g:render>
%{--<g:render template="direct_actions"></g:render>--}%
<g:render template="export_classfieds"></g:render>

</body>
</html>
