/*Fonts*/
@font-face {
    font-family: raleway-regular-regular;
    src: url(../bootstrap/fonts/Quicksand-Regular.otf);
}

/*End Fonts*/

.floatleft {
    float: left
}

.floatright {
    float: right
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0px solid
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*#ed1c24*/
.header-area {
    background: none repeat scroll 0 0 #555;
    margin-bottom: 0px;
    color:#FFF
}

.header-area a {
    color: #FFF;
}

.header-area a:hover {
    color: #6698f4;

}

.user-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.user-menu li {
    display: inline-block;
    color: #FFF;
}

.user-menu li a {
    display: block;
    font-size: 13px;
    margin-right: 5px;
    padding: 10px;
}

.user-menu li a i.fa {
    margin-right: 5px;
}

.header-right ul.list-inline {
    margin: 0;
    text-align: right;
}

.header-right ul.list-inline li a {
    display: block;
    padding: 9px;
}

.header-right ul.list-inline li ul a {
    padding: 5px 15px;
}

.header-right ul.list-inline li ul a:hover {
    color: #999;
}

.header-right ul.list-inline li ul {
    border: medium none;
    border-radius: 0;
    left: 50%;
    margin-left: -50px;
    min-width: 100px;
    text-align: center;
}

.mainmenu-area {
    background: none repeat scroll 0 0 #EEE;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    width: 100%;
    z-index: 999;
}

.mainmenu-area ul.navbar-nav li .dropdown-menu a:hover {
    background-color: #FFF;
    color: #bc0417;
}

.logo h4 {
    font-size: 40px;
    margin-top:  20px;
    margin-bottom: 0;
    font-weight: 400;
}

.logo h1 a {
    color: #999;
}

.logo h1 a:hover {
    text-decoration: none;
    opacity: .7
}

.logo h1 a span {
    color: #ed1c24;
}

.shopping-item {
    border: 1px solid transparent;
    float: right;
    font-size: 18px;
    margin-top: 30px;
    padding: 10px;
    position: relative;
}

.shopping-item a {
    color: #666;
}

.shopping-item a {
    color: #666;
}



.product-count {
    background: none repeat scroll 0 0 #ed1c24;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    padding-top: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}

.shopping-item i.fa {
    margin-left: 15px;
}

.shopping-item:hover {
    background: none repeat scroll 0 0 transparent;
    border-color: transparent;
}

.shopping-item:hover a {
    color: #0e90d2;
    text-decoration: none
}

.cart-amunt:hover  {
    color: #0e90d2;
}

.shopping-item:hover .product-count {
    background: none repeat scroll 0 0 #000;
}

.mainmenu-area ul.navbar-nav li a {
    color: #6e6a6a;
    font-size: 14px;
    padding: 20px;
}

.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {
    background: #ed1c24;
    color: #FFF;
}

.mainmenu-area .nav > li > a:focus {
    color: #FFF;
}

.slider-area {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 5px;
}

/*-------------------------
[9. Block slider]
---------------------------*/
.block-slider {
    border: none;
    width: 100%;
}

.block-slider ul li {
    list-style: none;
}

.block-slider .bx-pager {
    display: none;
}

.block-slider .bx-prev,
.block-slider .bx-next {
    width: 32px;
    height: 32px;
    border: 1px solid #eaeaea;
    text-align: center;
    display: block;
    border-radius: 50%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 29px;
    -moz-transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease;
    -o-transition: all 0.45s ease;
    -ms-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.block-slider img {
    width: 100%;
    height: auto;
}

.block-slider .bx-prev {
    left: 0px;
    padding-right: 3px;
}

.block-slider .bx-next {
    right: 0px;
    padding-left: 3px;
}

.block-slider:hover .bx-prev {
    left: 10px;
}

.block-slider:hover .bx-next {
    right: 10px;
}

.block-slider .bx-prev:hover,
.block-slider .bx-next:hover {
    background: #ed1c24;
    color: #fff;
    border-color: #ed1c24;
}

/*------------------
[4. Slidershow]
------------------*/

.block-slider .bx-pager {
    display: block;
    text-align: center;
}

.block-slider .bx-pager-item {
    width: 15px;
    height: 15px;
    background: #fff;
    font-size: 0;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
}

.block-slider .bx-pager-item a {
    width: 100%;
    height: 100%;
    background: #999;
    display: block;
    border-radius: 50%;
}

.block-slider .bx-pager-item a.active {
    background: #ed1c24;
}

.block-slider .caption-group {
    background-color: transparent;
    position: absolute;
    top: 26%;
    right: 2%;
    padding: 10px;
}

.block-slider .caption-group .title {
    margin: 0;
}

.block-slider .caption-group .subtitle {
    margin: 0;
    margin-top: 5px;
}

.block-slider .caption-group .button-radius {
    margin-top: 27px;
}

.block-slider .caption-group .primary {
    color: #ed1c24;
}

.block-slider .caption-group .caption {

}

/*----------------------
[10. Block top seller ]
------------------------*/
.button-radius {
    position: relative;
    border: 1px solid #eaeaea;
    padding: 1px;
    min-height: 34px;
    background: #fff;
    display: inline-block;
    width: auto;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 20px;
    margin: 0;
    color: #666666;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    margin-top: 10px;
    font-size: 14px;
}

.button-radius .icon {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    position: absolute;
    left: 2%;
    top: 2px;
    overflow: hidden;
}

.button-radius .icon:before {
    font-family: 'FontAwesome';
    content: "\f105";
    font-size: 14px;
    color: #fff;
    width: 28px;
    height: 28px;
    background-color: #ed1c24;
    border-radius: 90%;
    text-align: center;
    line-height: 26px;
    float: left;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.button-radius.white {
    border-color: #fff;
    color: #fff;
    background: transparent;
}

.button-radius.white .icon:before {
    background: #fff;
    color: #333;
}

.button-radius:hover .icon {
    left: 100%;
    margin-left: -30px;
}

.button-radius:hover {
    padding-left: 20px;
    padding-right: 40px;
}

.promo-area {
    background: #fbfbfb;
    color: #262321;
    padding: 40px 0 40px;
}

.brands-area {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    color: #fff;
    padding: 20px 0 20px;
}

.promo-area .zigzag-bottom, .brands-area .zigzag-bottom {
    background: #f4f4f4
}

.single-promo {
    font-size: 15pt;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
}

.single-promo i {
    font-size: 50px;
}

.single-promo:hover {
    color: #fff;
    background: #222;
}

.promo1 {
    background: #f2f2f2;
}

.promo2 {
    background: #f2f2f2;
}

.promo3 {
    background: #f2f2f2;
}

.promo4 {
    background: #f2f2f2;
}

.section-title {
    font-family: "raleway-regular", sans-serif;
    font-size: 25pt;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.product-f-image {
    position: relative;
    height: 60%;
}

.product-f-image .img-centered {
    height: 100%;
}

.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
}

.product-hover:after {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: -100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .4s;
}

.product-hover a {
    background: none repeat scroll 0 0 #ed1c24;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 10pt;
    left: 10%;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #ed1c24;
    width: 80%;
    z-index: 99;
    transition: .4s;
}

.product-hover a:hover {
    background: #000;
    text-decoration: none;
    border-color: #444;
}

.product-carousel-price {
    color: #fff;
    background-color: #ed1c24;
    padding: 5px;
    width: 100%;
    font-size: 12pt;
}

.product-carousel-price a {
    text-decoration: none;
}

.product-hover a i.fa {
    margin-right: 5px;
}

.product-hover a.add-to-cart-link {
    top: -25%;
}

.product-hover a.view-details-link {
    bottom: -25%;
}

.single-product h2 {
    font-size: 11pt;
    font-weight: bold;
}

.single-product h2 a {
    color: #222;
}

.single-product p {
    color: #ed1c24;
    font-weight: 500;
}

.single-product {
    overflow: hidden;
    height: 300px;
    border: 1px solid #cccbca;
    padding: 2px;
}

.single-product:hover {
}

.single-product:hover .product-hover a.add-to-cart-link {
    top: 32%;
}

.single-product:hover .product-hover a.view-details-link {
    bottom: 32%;
}

.single-product:hover .product-hover:after {
    left: 0
}

.product-carousel {
    padding-top: 40px;

}

.latest-product .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
}

.latest-product .owl-nav div, .related-products-wrapper .owl-nav div {
    background: #ed1c24;
    color: #FFF;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 10px;
}

.latest-product .owl-nav div:hover, .brand-wrapper .owl-nav div:hover, .related-products-wrapper .owl-nav div:hover {
    color: #FFF;
    background: #f95f5f;
}

.brand-list {
    padding-top: 40px;
}

.brand-list .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
}

.brand-wrapper .owl-nav div {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 10px;
}

.brand-wrapper .owl-nav div {
    background: #ed1c24;
    color: #FFF;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 10px;
}

.maincontent-area {
    padding-bottom: 20px;
    padding-top: 10px;
}

.product-wid-title {
    font-family: raleway-regular;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
}

.single-wid-product {
    margin-bottom: 31px;
    overflow: hidden;
}

.product-thumb {
    float: left;
    height: 90px;
    margin-right: 15px;
    width: 100px;
}

.single-wid-product h2 {
    font-size: 14px;
    margin-bottom: 12px;
}

.product-wid-rating {
    color: #ffc808;
    margin-bottom: 10px;
}

.product-wid-price ins {
    color: #ed1c24;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.single-wid-product h2 a {
    color: #222;
}

.single-wid-product h2 a:hover, .single-product h2 a:hover {
    color: #ed1c24;
}

.wid-view-more {
    background: none repeat scroll 0 0 #ed1c24;
    color: #fff;
    padding: 3px 15px;
}

.prop-view-more {
    background: none repeat scroll 0 0 #ed1c24;
    color: #fff;
    padding: 3px 15px;
    position: absolute;
    right: 10px;
    top: 3px;
}

.wid-view-more:hover {
    /*color: #fff;*/
    /*background-color: #222;*/
    text-decoration: none
}

.prop-view-more:hover {
    color: #fff;
    background-color: #222;
    text-decoration: none
}

.single-product-widget {
    position: relative;
}

.product-widget-area {
    padding-bottom: 30px;
    padding-top: 30px;
}

.product-widget-area .zigzag-bottom {
    background: #f4f4f4;
}

.footer-top-area .zigzag-bottom {
    background: #f4f4f4
}

.footer-top-area {
    background: none repeat scroll 0 0 #333;
    color: #999;
    padding: 35px 0 180px;
}

.footer-bottom-area {
    background: #000;
    color: #fff
}

.footer-about-us span {
    color: #ed1c24;
}

.footer-wid-title {
    font-family: raleway-regular-regular;
    font-size: 30px;
    font-weight: 100;
    color: #fff
}

.footer-about-us h2 {
    font-weight: 200;
}

.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.footer-menu ul li {
    border-bottom: 1px dashed #555;
    padding: 5px 0;
}

.footer-menu a {
    display: block;
    padding: 5px 0;
    color: #999
}

.footer-social a {
    background: none repeat scroll 0 0 transparent;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 5px;
    text-align: center;
    width: 40px;
    border: 1px solid transparent;
}

.footer-social a:hover {
    background-color: #222;
    border-color: #666;
    color: #fff;
}

.footer-social {
    margin-top: 20px
}

.newsletter-form input[type="email"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.newsletter-form input[type="text"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.newsletter-form input[type="submit"] {
    background: none repeat scroll 0 0 #ed1c24;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 7px 20px;
    text-transform: uppercase;
    border: 1px solid #ed1c24;
}

.newsletter-form input[type="submit"]:hover {
    background: #222;
    border-color: #666
}

.newsletter-form {
    margin-top: 25px;
}

a {
    color: #ed1c24
}

a:hover, a:focus {
    color: #6698f4
}

.footer-bottom-area {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    padding-bottom: 40px;
}

.slide-bulletz {
    bottom: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99;
}

ol.slide-indicators {
    left: inherit;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

ol.slide-indicators li {
    background: none repeat scroll 0 0 #222;
    border: medium none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 0 0 5px;
    width: 10px;
}

ol.slide-indicators li.active {
    background: none repeat scroll 0 0 #fff;
    height: 10px;
    margin: 0 0 0 5px;
    width: 10px;
}

.carousel.carousel-fade .item {
    transition: opacity 1s ease-in-out
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.footer-card-icon {
    font-size: 30px;
    text-align: right;
}

.copyright > p {
    margin: 10px 0 0;
}

.product-big-title-area {
    background: url(img/crossword.png) repeat scroll 0 0 #ed1c24
}

.product-bit-title h2 {
    font-family: raleway-regular-regular;
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    padding: 50px 0;
    color: #fff;
}

.single-product-area .zigzag-bottom {
    background-color: #f4f4f4
}

.single-product-area {
    padding: 80px 0 130px;
}

.sidebar-title {
    color: #fead53;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.single-sidebar {
    margin-bottom: 50px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #ddd;
    padding: 10px;
}

input[type="submit"], button[type=submit] {
    background: none repeat scroll 0 0 #ed1c24;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
}

input[type="submit"]:hover, button[type=submit]:hover {
    background-color: #222
}

.single-sidebar input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
}

.thubmnail-recent {
    margin-bottom: 30px;
    overflow: hidden;
}

.recent-thumb {
    float: left;
    height: auto;
    margin-right: 15px;
    width: 63px;
}

.thubmnail-recent > h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.thubmnail-recent > h2 a {
    color: #222;
}

.product-sidebar-price > ins {
    color: #ed1c24;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.single-sidebar > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.single-sidebar li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}

.single-sidebar a {
    display: block;
}

.product-breadcroumb {
    margin-bottom: 20px;
}

.product-breadcroumb > a {
    margin-right: 31px;
    position: relative;
}

.product-breadcroumb > a::before {
    content: "/";
    position: absolute;
    right: -20px;
    top: 2px;
}

.product-breadcroumb > a:last-child::before {
    display: none;
}

.product-main-img {
    margin-bottom: 20px;
}

.product-gallery {
    margin-bottom: 25px;
    margin-left: -15px;
    overflow: hidden;
}

.product-gallery img {
    height: auto;
    margin-left: 15px;
    width: 76px;
}

.product-name {
    font-size: 25px;
    margin-bottom: 20px;
}

.product-inner-price {
    margin-bottom: 25px;
}

.product-inner-price > ins {
    color: #ed1c24;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.quantity {
    float: left;
    margin-right: 15px;
}

.quantity input[type="number"] {
    border: 1px solid #ed1c24;
    padding: 5px;
    width: 50px;
}

.add_to_cart_button {
    background: none repeat scroll 0 0 #ed1c24;
    border: medium none;
    color: #fff;
    padding: 6px 25px;
    display: inline-block
}

.add_to_cart_button:hover {
    background-color: #222;
    color: #fff;
    text-decoration: none
}

form.cart {
    margin-bottom: 25px;
}

.product-inner-category {
    margin-bottom: 30px;
}

.product-tab {
    border-bottom: 1px solid #ddd;
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.product-tab li {
    display: inline-block;
}

.product-tab li.active {
    background: none repeat scroll 0 0 #ed1c24;
}

.product-tab li.active a {
    color: #fff;
}

.product-tab li a {
    color: #222;
    display: block;
    font-size: 16px;
    padding: 10px 30px;
}

.product-tab li a:hover {
    text-decoration: none;
}

.product-tab li a:focus {
    text-decoration: none;
}

.tab-content h2 {
    font-size: 20px;
}

.tab-content {
    margin-bottom: 30px;
}

.submit-review label {
    display: block;
}

.submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
    margin-bottom: 20px;
    width: 100%;
}

.rating-chooser {
    margin-bottom: 30px;
}

.rating-chooser p {
    font-weight: 700;
}

.rating-wrap-post {
    font-size: 20px;
}

.submit-review textarea {
    height: 105px;
}

.related-products-wrapper {
    margin-top: 30px;
}

.related-products-title {
    color: #feae52;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.related-products-wrapper .owl-nav {
    position: absolute;
    right: 0;
    top: -56px;
}

table.shop_table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 50px;
    width: 100%;
}

table.shop_table th, table.shop_table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

table.shop_table th {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 15px;
    text-transform: uppercase;
}

td.product-thumbnail img {
    height: auto;
    width: 70px;
}

td.product-name {
    font-size: 18px;
}

div.quantity input.plus, div.quantity input.minus {
    background: none repeat scroll 0 0 #ed1c24;
    border: medium none;
    color: #fff;
    height: 25px;
    line-height: 15px;
    width: 25px;
}

td.product-quantity div.quantity {
    float: none;
    margin: 0;
}

td.actions div.coupon {
    float: left;
}

.cart-collaterals {
    overflow: hidden;
}

.cross-sells {
    float: left;
    margin-right: 3%;
    width: 57%;
}

.cart_totals {
    float: right;
    margin-bottom: 50px;
    width: 40%;
}

.cart-collaterals h2 {
    color: #ed1c24;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

div.cart-collaterals ul.products {
    list-style: outside none none;
    margin: 0 0 0 -30px;
    padding: 0;
}

div.cart-collaterals ul.products li.product {
    float: left;
    margin-left: 30px;
    position: relative;
    width: 198px;
}

.cart_totals table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
}

.cart_totals table th, .cart_totals table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.cart_totals table th {
    background: none repeat scroll 0 0 #f4f4f4;
}

.onsale {
}

div.cart-collaterals ul.products li.product .onsale {
    background: none repeat scroll 0 0 #ed1c24;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    right: 0;
}

div.cart-collaterals ul.products li.product h3 {
    color: #333;
    font-size: 20px;
    margin-top: 15px;
}

div.cart-collaterals ul.products li.product .price {
    color: #333;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}

.price > ins {
}

div.cart-collaterals ul.products li.product .price ins {
    color: #ed1c24;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
}

.woocommerce-info {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px;
}

.col2-set {
    margin-left: -30px;
    overflow: hidden;
}

.col-1, .col-2 {
    float: left;
    margin-left: 30px;
    width: 360px;
}

#customer_details label {
    display: block;
    margin: 0 0 5px;
}

#customer_details input[type="text"], #customer_details textarea, .shipping_calculator input[type=text] {
    margin-bottom: 10px;
    width: 100%;
}

#customer_details h3 {
    color: #ed1c24;
    font-size: 20px;
    text-transform: uppercase;
}

.create-account {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 50px;
    padding: 15px;
}

#order_review_heading {
    color: #ed1c24;
    font-size: 20px;
    text-transform: uppercase;
}

#payment ul.payment_methods {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
}

#payment ul.payment_methods li {
    margin-bottom: 15px;
}

a.about_paypal {
    font-size: 12px;
    margin-left: 15px;
}

#customer_details select, .shipping_calculator select {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

table.shop_table td.product-remove a {
    display: inline-block;
    padding: 0 5px 2px;
    text-transform: uppercase;
}

table.shop_table td.product-remove a:hover {
    color: #fff;
    background: red;
    text-decoration: none
}

table.shop_table td.product-name a {
    color: #222;
}

table.shop_table td.product-name a:hover {
    color: #ed1c24;
    text-decoration: none
}

div.quantity input.plus:hover, div.quantity input.minus:hover {
    background-color: #222
}

div.cart-collaterals ul.products li.product a:hover h3 {
    color: #ed1c24
}

div.cart-collaterals ul.products li.product a:hover {
    text-decoration: none
}

div.cart-collaterals ul.products li.product:hover .add_to_cart_button {
    background-color: #222
}

.cart-collaterals .shipping_calculator {
    float: right;
    width: 40%;
}

#login-form-wrap, #coupon-collapse-wrap {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 30px;
    padding: 25px;
}

#login-form-wrap label {
    display: block;
    margin-bottom: 5px;
}

#login-form-wrap input[type="text"], #login-form-wrap input[type="password"] {
    margin-bottom: 10px;
    width: 250px;
}

#login-form-wrap input[type="submit"] {
    margin-bottom: 15px;
}

.single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product-option-shop {
    margin-top: 15px;
}

.single-shop-product {
    margin-bottom: 50px
}

.pagination > li > a, .pagination > li > span {
    color: #ed1c24;
}

/*Line styles*/
hr.style-one {
    height: 1px;
    border: 1px groove #ed1c24;
    margin-top: 0px;
    /* box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.93);  #ed1c24*/
    background-image: linear-gradient(to left, rgb(250, 128, 114), rgba(250, 128, 114, 0.45), rgba(250, 128, 114, 4));
    /*background-image: linear-gradient(to left, rgb(250, 128, 114), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 4));*/
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.style-three {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(143, 136, 136, 2), rgba(143, 136, 136, 0.75), rgba(143, 136, 136, 2));
}

hr.style-four {
    border: 0;
    height: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-image: linear-gradient(to right, rgba(143, 136, 136, 2), rgba(143, 136, 136, 0.75), rgba(143, 136, 136, 2));
}

/*End Line styles*/

/*article*/
.redhead {
    background-color: #ed1c24;
    padding: 10px;
    color: #fdfdfd;
    width: 80%;
}
/*read article====>*/
.outlined {
    padding: 30px;
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;
    background-color: white;
    border: 1px solid #dcdcdc
}

/*guesstimate*/
.green-box {
    /*background-color: #bc0417;*/
    font-size: 9pt;
    color: #08be85;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    position: relative;

    /*color: #eef408; #08be85*/
}

.inner-rotate {
    border-radius: 10px;
    padding: 7px;
    border: 2px solid rgba(8, 190, 133, 0.5);
    -ms-transform: rotate(-0deg); /* IE 9 */
    -webkit-transform: rotate(-0deg); /* Chrome, Safari, Opera */
}

/*search panel*/
.zch {

}

.zch ul {

    background-color: #000;
    /*background-image: url("../imgs/galaxy.jpg");*/
    margin-bottom: 2px;

    border-radius: 0px 0px 0px 0px;

}

.zch li {

    border-right: 1px solid #fff;
    text-align: center;
    background-color: #000;
    /*background-image: url("../imgs/galaxy.jpg");*/
    width: 25%;
}

.zch .nav-tabs li a {
    background-color: #000;
    color: #fff;

}

.zch .nav-tabs li a:hover {

    background-color: #ed1c24;
    color: #fff;
    border: 0px solid #fff;
}

.zch ul .active a {
    border: 0px solid #fff;
    background-color: #ed1c24;
}

.zch ul .active a:link {

    border: 0px solid #fff;
    background-color: #ed1c24;
    color: #fff;
}

/*#3579b6  #0e88f5*/
.searchPad {

    font-weight: 900;
    background-color: #000;
    padding: 10px;
    /*background-image: url("../imgs/galaxy.jpg");*/
    background-repeat: repeat-x;
    /*height: 150px;*/
    color: #fff;
    /*border-radius: 0px 0px 12px 12px;*/
    /*box-shadow: 0px 5px 5px #888888;*/

}

.advanced {

    font-weight: 900;
    background: #000;
    /* background-image: url("../imgs/galaxy.jpg"); */
    color: #fff;
    height: auto;

}

.adv-search-fieldset {

}

.adv-search-fieldset legend {
    color: #fff;
    font-size: 9pt;
}

.advanced select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.widen {
    border-radius: 0px 0px 0px 0px;
    width: 50%;
    text-align: center;
    background-color: #ed1c24;
    border-color: #ed1c24;
}

.widen:hover {

    background-color: #ed1c24;
    border-color: #fff;
}

.select_control select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*end search panel*/

/*front page  outflows*/
.table-autoflow {
    height: 298px;
    width: auto;
    overflow: auto;
}

.table-autoflow-xs {
    height: 100px;
    width: 100%;
    overflow: auto;
}

.table-autoflow-sm {
    height: 280px;
    width: 100%;
    overflow: auto;
}

.table-autoflow-lg {
    height: 700px;
    width: 100%;
    overflow: auto;

}

.table-autoflow-md {
    height: 453px;
    width: 100%;
    overflow: auto;
}

.hoverlink img:hover {
    background-color: #e0e0e0;
    /*rgba(80, 199, 255, 0.98);*/
}

.blink_me {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

/*end front page  outflows*/

/*Head text*/

.hd1 {

    font-size: 10pt;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.hd1s {

    font-size: 9pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #0b0a0a;
}

.hd2 {

    color: #ed1c24;

}

.hd3 {

    color: #7dd132;

}

.hd4 {

    color: #008080;
    font-style: normal;

}

.hd41 {

    color: #123d80;
    font-style: normal;

}

.hd5 {

    color: #9d9d9d;
}

.hd4 button {
    background-color: #000;
    color: #fff;
}

.hd5 {

    color: #556B2F;
    backgroud-color: #E0FFFF;
    font-style: normal;

}

.hd-gold {

    color: rgba(244, 173, 102, 0.72);
    font-style: normal;
}

/*End Head text*/

/*Article style*/
.articlehead {

    font-weight: bold;
    font-size: 9pt;
    color: #014d60;
}

.articlebody {

    font-size: 8pt;
    color: #014d60;
    padding: 0px;

}

/*End Article style*/

/*Page titles*/
.in-title {
    margin-top: 0px;
    padding: 10px;
}

.container .col-sm-12 h3 {
    font-size: 25pt;
    font-weight: 300;
    /*text-decoration: underline #ed1c24;*/
    text-decoration: underline rgba(24, 24, 24, 0.78);
    text-transform: uppercase;
    /*color: #ed1c24;*/
    color: rgba(24, 24, 24, 0.78);
    margin-bottom: 20px;

    /*background: none repeat scroll 0 0 #ed1c24;*/
    /*color: #fff;*/
    /*padding: 3px 15px;*/
}
.container .col-sm-12 h3 a {
    font-size: 25pt;
    font-weight: 300;
    /*text-decoration: underline #ed1c24;*/
    text-decoration: underline rgba(24, 24, 24, 0.78);
    text-transform: uppercase;
    /*color: #ed1c24;*/
    color: rgba(24, 24, 24, 0.78);
    margin-bottom: 20px;

    /*background: none repeat scroll 0 0 #ed1c24;*/
    /*color: #fff;*/
    /*padding: 3px 15px;*/
}
.container-fluid .col-sm-12 h3 {
    font-size: 12pt;
    /*background-color: rgba(24, 24, 24, 0.78);*/
    text-decoration: underline rgba(24, 24, 24, 0.78);
    text-transform: uppercase;
    text-indent: 12px;
    padding: 5px;
    border-radius: 7px;
    /*box-shadow: 0px 2px 5px #000;*/
    text-decoration: none;
    color: rgba(24, 24, 24, 0.78);
}

/*===>others page */
.others {
    font-size: 20pt;
    font-family: raleway-regular-regular, open-sans;
}

/*===>whyadvertising page*/
.advertise {
    font-size: 11pt;
}

.advertise h2 {
    /*color: #ed1c24;*/
    text-decoration: underline;
}

.advertise p {
}

.advertise h3 {
    font-size: 12pt;
    /*color: #ed1c24;*/
    font-weight: bold;

}

.advertise ul {

}

.advertise ul > ol {
    list-style-type: lower-roman;
}

.advertise ul > li > ol {
    list-style-type: lower-roman;
}

.advertise ol > li > ol {
    list-style-type: lower-roman;
}

.advertise ol > li > ul {
    list-style-type: circle;
}

.advertise b {
    color: #ed1c24;
}

.advertise-menu {
    position: fixed;
}

/*====>advertisingpolicy page*/
.policy p {
    font-size: 11pt;

}

.policy b {
    /*color: #ed1c24;*/
}

/*End page titles*/

/*pagination styles*/
.pagination a {
    text-align: center;
    margin: 10px;
    border: solid #000 1px;
    border-radius: 7px;
    color: #fff;
    background: none repeat scroll 0 0 #000;
    padding: 5px;
}

.pagination a:link {

    /*color: #ff0000;*/
}

.pagination a:visited {

    /*color: #000;*/
}

.pagination a:hover {

    /*background-color: #000;*/
    /*color: #EEEEEE;*/
}

/*End pagination*/

/*Search results styles*/
.smooth-border {
    border: 1px ridge rgba(143, 140, 143, 0.36);
    padding: 10px;
    margin-bottom: 10px;
}

/*-->table*/
.res-table {
    /*border: 1px inset #960416;*/
    width: 100%;

}

/*-->price*/
.big-price {
    font-size: 20pt;
    color: cadetblue;

}

.small-price {
    font-size: 15pt;
    color: darkgrey;
}

.mid-price {
    font-size: 9pt;
    color: cadetblue;
}

.sm-price {
    font-size: 5pt;
    color: cadetblue;
}

.sm-price:hover {
    font-size: 8pt;
    color: cadetblue;
    border: 1px cadetblue solid;
    padding: 7px;
}

.mid-currency {
    font-size: 7pt;
    color: darkgrey;
}

.res-table td {
    padding: 2%;
}

.res-table tr th {
    padding: 2px;
}

.res-table .thd {
    background-color: #bc0417;
    color: #FFF;
}

/*-->evaluator stamp*/
.roundit {
    background-color: #FFF;
    color: #bc0417;
    border-radius: 20px;
    padding: 2%;
}

/*--->thumb sign*/

.thumb {
    position: relative;
}

.thumb .wrd {
    /*rgba(244, 173, 102, 0.72)*/
    /*color: rgba(244, 217, 157, 1);*/
    background-color: #bc0417;
    color: #FFF;
    float: right;
    font-weight: bold;
    margin-top: -53%;
    left: -1px;
    top: -1px;
    width: 10%;
    font-size: 10pt;

    opacity: 0.8;
    overflow: hidden;
    transition: transform 300ms;
}

.thumb .wrd:hover {
    /*background-color: #05f90c;*/
    background-color: #ed575b;
    color: #FFF;
    float: right;
    font-weight: bold;
    margin-top: -53%;
    left: -1px;
    top: -1px;
    width: 20%;
    font-size: 10pt;

    opacity: 0.8;
    overflow: hidden;
    transition: transform 300ms;
}

/*--->certified*/
.certi {
    position: relative;
}



.certi .txt {
    /*rgba(244, 173, 102, 0.72)*/
    /*color: rgba(244, 217, 157, 1); background-color: #2e5db5;*/
    background-color: rgba(0, 92, 0, 0.98);
    color: #FFF;
    float: right;
    font-weight: bold;
    margin-top: -62%;
    left: -1px;
    top: -1px;
    width: 10%;
    font-size: 10pt;

    opacity: 0.8;
    overflow: hidden;
    transition: transform 300ms;
    /*-ms-transform: rotate(135deg); !* IE 9 *!*/
    /*-webkit-transform: rotate(135deg); !* Chrome, Safari, Opera *!*/
}


.certi .txt:hover {
    /*rgba(244, 173, 102, 0.72)*/
    /*color: rgba(244, 217, 157, 1);*/
    background-color: rgba(186, 164, 117, 0.98);
    color: #FFF;
    float: right;
    font-weight: bold;
    margin-top: -62%;
    left: -1px;
    top: -1px;
    width: 20%;
    font-size: 10pt;

    opacity: 0.8;
    overflow: hidden;
    transition: transform 300ms;
    /*-ms-transform: rotate(135deg); !* IE 9 *!*/
    /*-webkit-transform: rotate(135deg); !* Chrome, Safari, Opera *!*/
}


/*-->wing & sides*/
.wing {
    position: relative;
}

.wing h2 {
    background-color: #bc0417;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    margin-top: -12%;
    right: -1px;
    top: -1px;
    width: 50%;
    font-size: 14pt;
    padding: 3%;
    opacity: 0.7;
    overflow: hidden;
    transition: transform 300ms;
}

.wing h2:hover {
    background-color: #bc2b43;
    color: #FFFFFF;
    font-weight: bolder;
    float: left;
    margin-top: -12%;
    right: -1px;
    top: -1px;
    width: 50%;
    font-size: 14pt;
    padding: 3%;
    opacity: 0.99;
    transition: transform 300ms;
}

.wing .wrd {
    /*rgba(244, 173, 102, 0.72)*/
    /*color: rgba(244, 217, 157, 1);*/
    background-color: #bc0417;
    color: #FFF;
    float: right;
    font-weight: bold;
    margin-top: -7%;
    left: -1px;
    top: -1px;
    width: 10%;
    font-size: 10pt;

    opacity: 0.8;
    overflow: hidden;
    transition: transform 300ms;
}

.wing .wrd:hover {
    /*background-color: #05f90c;*/
    background-color: #ed575b;
    color: #FFF;
    float: right;
    font-weight: bold;
    margin-top: -7%;
    left: -1px;
    top: -1px;
    width: 20%;
    font-size: 10pt;

    opacity: 0.8;
    overflow: hidden;
    transition: transform 300ms;
}
 .wing .txt {
     /*rgba(244, 173, 102, 0.72)*/
     /*color: rgba(244, 217, 157, 1); background-color: #2e5db5;*/
     background-color: rgba(0, 92, 0, 0.98);
     color: #FFF;
     float: right;
     font-weight: bold;
     margin-top: -13%;
     left: -1px;
     top: -1px;
     width: 10%;
     font-size: 10pt;

     opacity: 0.8;
     overflow: hidden;
     transition: transform 300ms;
     /*-ms-transform: rotate(135deg); !* IE 9 *!*/
     /*-webkit-transform: rotate(135deg); !* Chrome, Safari, Opera *!*/
 }


.wing .txt:hover {
    /*rgba(244, 173, 102, 0.72)*/
    /*color: rgba(244, 217, 157, 1);*/
    /*background-color: rgba(186, 164, 117, 0.98);*/
    background-color: rgba(0, 144, 0, 0.98);
    color: #FFF;
    float: right;
    font-weight: bold;
    margin-top: -13%;
    left: -1px;
    top: -1px;
    width: 20%;
    font-size: 10pt;

    opacity: 0.8;
    overflow: hidden;
    transition: transform 300ms;
    /*-ms-transform: rotate(135deg); !* IE 9 *!*/
    /*-webkit-transform: rotate(135deg); !* Chrome, Safari, Opera *!*/
}



/*--->side border*/
.side-border-right {
    border-right: 2px solid #c0c0c0;

}

.side-border-left {
    border-left: 2px solid #c0c0c0;

}

/*--->icons*/
.property-icon {
    width: 16px;
    margin-left: auto;
    margin-right: auto;
}

.icon-label {
    font-size: 8pt;
    font-weight: bold;
}

/*End search results styles*/

/*View property slider*/

/*http://bootsnipp.com/snippets/featured/carousel-extended-320-compatible*/
.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;

}

.hide-bullets .thumbnail {
    border: 1px solid #ccc;
    width: 110px;
    height:110px;
    margin:0px;
}

.hide-bullets .thumbnail img {
    height: 100%;
    width:100%;
}

/*End property slider*/



/*================****GENERAL===========*/
body {
    font-family: raleway-regular-regular;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: none repeat scroll 0 0 #555;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 13pt;
    color: #FFF;
    display: block;
    transition: 0.3s
}
.sidenav a:hover {
    background-color: #000
}

.sidenav a:hover, .offcanvas a:focus{
    color: #fefefe;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav .closebtn:hover{
    border-radius: 50px;
    background-color: transparent;
    color: red;
    text-align: center;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}