@CHARSET "ISO-8859-1";
@font-face {
    font-family: Quicksand_Light;
    src: url(../../bootstrap/fonts/Quicksand-Light.otf);
}

@font-face {
    font-family: Quicksand_Regular;
    src: url(../../bootstrap/fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: Quicksand_Bold;
    src: url(../../bootstrap/fonts/Quicksand-Bold.otf);
}

@font-face {
    font-family: OstrichSans_Black;
    src: url(../../bootstrap/fonts/OstrichSans-Black.otf);
}

@font-face {
    font-family: sofia;
    src: url(../../bootstrap/fonts/Sofia-Regular.otf);
}

body {
    font-family: Quicksand_Regular, Tunga, Myriad Pro;
    background-image: url('../img/back.jpg');
    background-repeat: repeat-x;
    font-size: 11pt;
}

header {
    font-family: Quicksand_Regular, Tunga, Myriad Pro;
}

header .container {
    background-color: #ffff00;
    height: 4%;
    border-bottom: 2px solid #ffff00;
}

header .container .row {
    background-color: #492b13;
    height: 99%;
    color: #c2b59b;
}

header .container .row a {
    color: #c2b59b;
}

.logoimg {

    margin-top: 2%;
    margin-buttom: 5%;
}

.menuslide {

    background-color: #f8951e;
    height: 5%;
    border: 0px solid #fff;

}

.menuslide .span12 .navbar .container-fluid .navbar-header .icon-bar {

    color: #fff;
}

.menuslide .span12 .navbar {
    border: 0px solid #ed9122;
    background-color: #492b13;
}

.menuslide .container-fluid {

    background-image: url('../img/menu.jpg');
    /* Navigation-Header.jpg */
    background-repeat: no-repeat;

    height: 90%;

}

.menuslide .span12 .navbar .collapse ul {
    color: #ed9122;

}

.menuslide .span12 .navbar .collapse ul li {
    /*border-right: 1px solid #ed9122;*/
    border-left: 1px solid #ed9122;
}

.menuslide .span12 .navbar .collapse ul .active {
    border-left: 0px solid #ed9122;

}

.menuslide .span12 .navbar .collapse ul .active {
    color: #ed9122;

}

.menuslide .span12 .navbar .collapse ul .active a {
    background-image: url('../img/hover2.jpg');
    background: transparent;
    background-repeat: inherit;

}

.menuslide .span12 .navbar .collapse ul .active a {

    color: #fff;

}

.menuslide .span12 .navbar .collapse ul li a {
    color: #ed9122;
    font-stretch: 5px;
    font-size: 15pt;
}

.menuslide .span12 .navbar .collapse ul li a:hover {
    color: #fff;
    background-image: url('../img/hover2.jpg');
    background-repeat: inherit;
    background-position: center;
    font-weight: bold;
}

.menuslide .span12 .navbar .collapse ul .active a:hover {

    background: transparent;
    color: #fff;

}

.bodylogo {

    background-color: #000;
}

h3 {
    font-size: 12pt;
    background-color: #ed9122;
    text-indent: 12px;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0px 2px 5px #000;
}

.hanger {
    position: relative;
    margin: 0px;
}

.hanger img {
    float: right;
    background-color: transparent;

}

.bodytxt {

    /*box-shadow: 0px 2px 2px #888;*/
}

.bodytxt p {
    font-size: 11pt;
}

.thumbnail {
    border-radius: 0px;
    background-color: #492b13;
    border: 0px solid #fff;
    box-shadow: 0px 2px 5px #888;

}

.thumbnail img {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    /*box-shadow: 0px 2px 2px #FFF;*/
}

.thumbnail .btn {
    box-shadow: 0px 2px 2px #000;
    background-color: #ed9122;
    color: #492b13;
}

.caption p {
    color: #b8e4e2;

}

.caption li {
    color: #b8e4e2;

}

.stipline {

    width: 100%;
}

.bodybottom {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0px 2px 5px #000;
    height: 130px;
}

.bodybottom p {
    padding: 5px;

}

.topic {
    font-weight: bold;
}

.bodybottom ul li {
    padding: 5px;

}

.bodybottom .btn {
    box-shadow: 0px 2px 2px #000;
    background-color: #ed9122;
    color: #492b13;

}

.gotop {

    color: #000;
    position: relative;
    margin: 12px;
    box-shadow: 0px 2px 2px #ccc;
}

.footer {
    background-color: #ed9122;
    height: 50px;

}

.footer .span6 .nav a {
    color: #fff;

    border-right: 1px solid #fff;
}

.footer .span6 .nav a:hover {
    color: #492b13;
    background-color: #ed9122;
    border-right: 1px solid #fff;
}

.contactForm {

}

.fieldbody {
    margin-bottom: 10px;

}

.fieldbody legend {

    font-weight: bold;

    color: #492b13;
}
.nano{
    font-family: myriad, tunga, sans-serif;
    font-size:5pt;
    color: #ed1c24;
}
.hd2 {
    font-family: myriad, tunga, sans-serif;
    color: #ed1c24;

}

.hd3 {
    font-family: Quicksand_Regular, tunga, sans-serif;
    color: #7dd132;

}

.table-autoflow-lg{
    height:700px;
    width: 100%;
    overflow:auto;

}