<%@ page import="com.mbwanajm.darproperty.Property" %>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'property.label', default: 'Property')}"/>
    <title><g:message code="default.create.label" args="[entityName]"/></title>
</head>

<body>
	<div class="container" align="left">
			<div class="row">
			<div class="col-sm-5">
			
			<a href="#create-property" class="skip" tabindex="-1" title="<g:message code="default.link.skip.label" default="Skip to content&hellip;"/>">
		<span class="glyphicon glyphicon-refresh"></span></a>
	
			</div>
			
			</div>
	


<div class="nav" role="navigation">
    <ul>
        <li class="btn btn-default">	<g:link controller ="config" action=""><span class="glyphicon glyphicon-wrench"></span> </g:link></li>
        <li class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> <g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]"/></g:link></li>
    </ul>
</div>

<div id="create-property" class="content scaffold-create" role="main">
    <h1><g:message code="default.create.label" args="[entityName]"/></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message}</div>
    </g:if>
    <g:hasErrors bean="${propertyInstance}">
        <ul class="errors" role="alert">
            <g:eachError bean="${propertyInstance}" var="error">
                <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message
                        error="${error}"/></li>
            </g:eachError>
        </ul>
    </g:hasErrors>
    
    <div class="row">
			<div class="col-sm-12">
    <g:form action="save">
        <fieldset class="form">
            <g:render template="form"/>
        </fieldset>
        <fieldset class="buttons">
            <g:submitButton name="create" class="btn btn-success" 
                            value="${message(code: 'default.button.create.label', default: 'Create')}"/>
        </fieldset>
    </g:form>
    
			</div>
</div>
</div>
</div>
<br>
</body>
</html>
