<%@ page import="com.mbwanajm.darproperty.Article" %>
<!doctype html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'article.label', default: 'Article')}"/>
    <title><g:message code="default.edit.label" args="[entityName]"/></title>
    <link rel="stylesheet" href="${resource(dir: 'css', file: 'redactor.css')}"/>
    <g:javascript src="lib/wysiwyg.js"/>
    <g:javascript src="lib/redactor.js"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-5">

            <a href="#edit-article" class="skip" tabindex="-1"
               title="<g:message code="default.link.skip.label" default="Skip to content&hellip;"/>">
                <span class="glyphicon glyphicon-refresh"></span></a>

        </div>

    </div>

    <br>


    <div class="nav" role="navigation">
        <ul>
            <li class="btn btn-default"><g:link controller="config" action=""><span
                    class="glyphicon glyphicon-wrench"></span></g:link></li>
            <li class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span>
                <g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]"/></g:link>
            </li>
            <li class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>
                <g:link class="create" action="create"><g:message code="default.new.label"
                                                                  args="[entityName]"/></g:link></li>
        </ul>
    </div>

    <div id="edit-article" class="content scaffold-edit" role="main">
        <h1><g:message code="default.edit.label" args="[entityName]"/></h1>
        <g:if test="${flash.message}">
            <div class="message" role="status">${flash.message}</div>
        </g:if>
        <g:hasErrors bean="${articleInstance}">
            <ul class="errors" role="alert">
                <g:eachError bean="${articleInstance}" var="error">
                    <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message
                            error="${error}"/></li>
                </g:eachError>
            </ul>
        </g:hasErrors>
        <div class="row">
            <div class="col-sm-12">

                <g:form method="post" enctype="multipart/form-data">
                    <g:hiddenField name="id" value="${articleInstance?.id}"/>
                    <g:hiddenField name="version" value="${articleInstance?.version}"/>
                    <fieldset class="form">
                        <g:render template="form"/>
                    </fieldset>
                    <fieldset class="buttons">
                        <g:actionSubmit class="btn btn-primary" action="update"
                                        value="${message(code: 'default.button.update.label', default: 'Update')}"/>
                        <g:actionSubmit class="btn btn-danger" action="delete"
                                        value="${message(code: 'default.button.delete.label', default: 'Delete')}"
                                        formnovalidate=""
                                        onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');"/>
                    </fieldset>
                </g:form>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>
