@font-face {
    font-family: raleway-regular;
    src: url(../fonts/Quicksand-Light.otf);
}

@font-face {
    font-family: raleway-regular;
    src: url(../fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: Quicksand_Bold;
    src: url(../fonts/Quicksand-Bold.otf);
}

@font-face {
    font-family: raleway-regular;
    src: url(../fonts/Quicksand-Light.otf);
}

@font-face {
    font-family: raleway-regular;
    /*src: url(../fonts/OstrichSans-Black.otf);*/
    src: url(../fonts/ostrich-regular.ttf);
}

@font-face {
    font-family: sofia;
    src: url(../fonts/Sofia-Regular.otf);
}

@font-face {
    font-family: open-sans;
    src: url(../fonts/OpenSans-CondLight.ttf);
}

@font-face{
    font-family: raleway-regular;
    src: url(../fonts/Raleway-Regular.ttf);
}
/*web title*/
.in-title {
    margin-top: 0px;
    padding: 10px;
}

/* others */
.others {
    font-size: 20pt;
    font-family: open-sans;
}

/*whyadvertising*/
.advertise {
    font-size: 11pt;
}

.advertise h2 {
    /*color: #ed1c24;*/
    text-decoration: underline;
}

.advertise p {
}

.advertise h3 {
    font-size: 12pt;
    /*color: #ed1c24;*/
    font-weight: bold;

}

.advertise ul {

}

.advertise ul > ol {
    list-style-type: lower-roman;
}

.advertise ul > li > ol {
    list-style-type: lower-roman;
}

.advertise ol > li > ol {
    list-style-type: lower-roman;
}

.advertise ol > li > ul {
    list-style-type: circle;
}

.advertise b {
    color: #ed1c24;
}

.advertise-menu {
    position: fixed;
}

/*advertisingpolicy*/
.policy p {
    font-size: 11pt;

}

.policy b {
    /*color: #ed1c24;*/
}

.pagination a {

    border-radius: 7px;
}

.pagination a:link {

    color: #ff0000;
}

.pagination a:visited {

    color: #000;
}

.pagination a:hover {

    background-color: #000;
    color: #EEEEEE;
}

.srch {
    Font-family: raleway-regular, raleway-regular, Tunga;
    font-size: 11pt;
    color: #ed1c24;

}

.srch {
    font-size: 11pt;
    color: #000;

}

.bgico {

    height: 100%;
}

.gotop {

    color: #000;
    position: relative;
    margin: 12px;
    box-shadow: 0px 2px 2px #ccc;
}

.gotop:hover {

    text-decoration: none;
}

#formdt {

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.btnm {
    font-family: raleway-regular,  Tunga, arial;
    color: #fff;
    background-color: #ed1c24;
    border: 1px solid #ed1c24;
}

.btnm:hover {

    font-family: raleway-regular,  Tunga, arial;
    color: #fff;
    background-color: #ed1c24;
    border: 1px solid #ed1c24;
}

.dtz {

}

.dtz label {

    align: right;
    font-size: 10pt;
    font-family: raleway-regular,  Tunga, arial;
}

.table {

    color: #fff;
    border: none;
}

.top-table {
    padding: 2px;
}

.top-table td {
    padding: 3px;
}

.nextarcright {

}

.nextarcright a {
    border: 1px solid #FFFAFA;
}

.nextarcright a:hover {
    border: 1px solid #fff;
    background-color: #fff;

}

.nextarcright img:hover {
    box-shadow: 5px 2px 6px #ff0000;

}

.nextarcright img {
    box-shadow: 5px 2px 5px #888888;
    width: 30px;
    height: 105px;
    border-radius: 0px 12px 12px 0px;
}

.nextarcleft {
    box-shadow: 1px 5px 0px 0px #888888;
    width: 30px;
    height: 150px;
    border-radius: 12px 0px 0px 12px;
}

.foothot {

}

.rslides {

}

.col-xs-10 .rslides img {
    border: 0px solid #fff;
    box-shadow: 2px 5px 2px #888888;
    border-radius: 10px;
}

.rslides img {
    width: 100%;
    height: 100%;
}

.propresult {
    border-radius: 0px;
    /* box-shadow: 0px 10px 10px #888888;*/
}

.fieldparts {

    border: 0px groove #fff;
    margin: 7px;

    border-radius: 12px;
    box-shadow: 0px 5px 2px #888888;

}

.fieldparts legend {
    font-family: Myriad Pro, Helvetica, sans-serif;
    font-size: 10pt;
    color: #c0c0c0;
}

.propbody {
    box-shadow: 0px 0px 2px #E6E6FA;
    border-radius: 8px 0px 0px 8px;
    background: #E6E6FA;
    font-family: Myriad Pro, Helvetica, sans-serif;
    background: -webkit-linear-gradient(left, #E6E6FA 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+*/
}

.span7 h4 {
    font-size: 14pt;

    /*
    text-shadow:4px 2px 4px #888888;
    #FFC0CB*/
}

.span7 h4:hover {
    font-size: 14pt;

    /*
    text-shadow:4px 2px 4px #FFC0CB ;
    #pink FFC0CB  yellow #FFD700*/
}

.article-container {
    border: 1px ridge rgba(143, 143, 143, 0.56);
    padding: 10px;
    height: 210px;

}

.smooth-border {
    border: 1px ridge rgba(143, 140, 143, 0.36);
    padding: 10px;
    margin-bottom: 10px;
}

.articlehead {

    font-weight: bold;
    font-size: 9pt;
    color: #014d60;
    font-family: raleway-regular, Tunga;
}

.articlebody {

    font-size: 8pt;
    color: #014d60;
    font-family: raleway-regular,  Tunga;
    padding: 0px;

}

.property-slider {
    border: 1px ridge rgba(143, 143, 143, 0.56);
    padding: 10px;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
    display: inline-block;

}

nav {
    height: 20px;

}

.magazine {
    /* box-shadow: 0px 5px 5px #888888;*/

}

.issue {

    color: #000;

}

.issue a {
    color: #4b93ff;
    border: 1px solid #fff;
}

.issue:hover {

}

.issue a:hover {
    color: #ed1c24;
    border: 1px solid #fff;
    background-color: #fff;

}

.slide {

    /*  box-shadow: 0px 5px 5px #888888;*/
}

.hdz {

    position: fixed;
}

.d1 {

}

.d1 .collapse {
    background-color: #EEEEEE;
    color: #ed1c24;
    border-radius: 1.2px;
}

.lang img {
    height: 13px;
    weght: 13px;
}

.navbar {

    border: 0px solid #fff;
}

a :link {
    border: 0px solid #000;
}

.topper {

    font-family: raleway-regular, Tunga, myriad;
    font-size: 9pt;
    font-weight: bold;
    color: #fff;
}

.topper .collapse {
    font-family: raleway-regular, Tunga, myriad;
    border-radius: 12px 0px 0px 12px;
    /*box-shadow: 2px 3px 2px #ccc;*/
}

.topper .collapse ul a {

    font-weight: bold;
    color: #fff;
}

.topper .collapse .dropdown-menu a {

    color: #999;
    font-size: 10pt;
}

.topper .dropdown-menu a::selection {

    color: #fff;
    font-size: 10pt;
}

.topper .collapse li a:hover {
    font-family: raleway-regular, Tunga, myriad;
    background-color: #ed1c24;
    color: #fff;
}

.topper .collapse li .active a:link {

    color: #fff;
}

.topper .collapse ul .active a {
    background-color: #ed1c24;
    bolder: 1px groove #000;
    color: #fff;
}

.topper .collapse ul .active a:link {
    background-color: #ed1c24;
    bolder: 1px groove #000;
    color: #fff;

}

h2 a {

    color: #000;
}

h5 {

    background-color: #ed1c24;
    color: #fff;
}

.thumbnail h5 a {

    color: #fff;
}

h4 {
    color: #ed1c24;
}

li p {
    font-size: 18pt;
}

nav li:hover {
    background-color: #ed1c24;
}

.hd1 {
    font-family: raleway-regular,  Tunga, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.hd1s {
    font-family: raleway-regular,  Tunga, sans-serif;
    font-size: 9pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #0b0a0a;
}

.hd2 {
    font-family: raleway-regular,  Tunga, sans-serif;
    color: #ed1c24;

}

.hd3 {
    font-family: raleway-regular, Tunga, sans-serif;
    color: #7dd132;

}

.hd4 {
    font-family: raleway-regular, Tunga, sans-serif;
    color: #008080;
    font-style: normal;

}


.hd41 {
    font-family: raleway-regular, Tunga,  sans-serif;
    color: #123d80;
    font-style: normal;

}

.hd5 {
    font-family: raleway-regular, Tunga, sans-serif;
    color: #9d9d9d;
}

.hd4 button {
    background-color: #000;
    color: #fff;
}

.hd5 {
    font-family: raleway-regular,  Tunga, sans-serif;
    color: #556B2F;
    backgroud-color: #E0FFFF;
    font-style: normal;

}
.hd-gold{
    font-family: raleway-regular,  Tunga, sans-serif;
    color: rgba(244, 173, 102, 0.72);
    font-style: normal;
}

a.hovertext {
    position: relative;
    width: 100%;
    text-decoration: none !important;
    text-align: center;
}

a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 460px;
    background: rgba(0, 0, 0, 0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
}

.property-icon {
    width: 16px;
    margin-left: auto;
    margin-right: auto;
}

.icon-label {
    font-size: 8pt;
    font-weight: bold;
}

hr {
    font-weight: bold;
}

.active {
    font-weight: 100;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;

}

.lownav {
}

.strp .active a {
    border-left: 1px solid #fff;

}

.strp .active a {
    border-left: 1px solid #fff;
    color: #fff;
}

.strp li a {
    border-right: 1px solid #fff;
    color: #fff;
}

.strp li a:hover {
    border-right: 1px solid #fff;
    color: #fff;
    background-color: #ed1c24;
}

.strp .dropdown a {
    color: #FFF;
}

.strp .dropdown a:focus {
    color: #000;

}

.strp .dropdown .dropdown-menu a {
    color: #000;
}

.margine {

    margin-top: 5%;

}

.margine2 {

    margin-top: 2%;

}

.collapse {
    background-color: #000;
}

.container {
    border: 0px solid #fff;
}

/*noinspection ALL*/
.logoz {
    background-image: url('bootstrap/imgs/logo.png');

}

li a:hover {

    background-color: #ed1c24;
}

li .active {

    background-color: #ed1c24;
    color: white;
}

.small-font {
    font-size: 12px;
}

.outlined {
    padding: 30px;
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;
    background-color: white;
    border: 1px solid #dcdcdc
}

.dafa {
    background-color: #A9A9A9;
    color: #fff;
    box-shadow: 0px 0px 5px #fff;
}

.container .col-sm-12 h3 {
    font-size: 12pt;
    background-color: #000;
    text-indent: 12px;
    padding: 10px;
    border-radius: 7px;
    /*box-shadow: 0px 2px 5px #000;*/
    text-decoration: none;
    color: #fff;
}

.container-fluid .col-sm-12 h3 {
    font-size: 12pt;
    background-color: #000;
    text-indent: 12px;
    padding: 5px;
    border-radius: 7px;
    /*box-shadow: 0px 2px 5px #000;*/
    text-decoration: none;
    color: #fff;
}

.hanger {
}

/* url("../imgs/forest.jpg"); url("../imgs/forest2.jpg"); */

.advanced select {
     display: block;
     width: 100%;
     height: 34px;
     padding: 6px 12px;
     font-size: 14px;
     line-height: 1.42857143;
     color: #555;
     background-color: #fff;
     background-image: none;
     border: 1px solid #ccc;
     border-radius: 4px;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
     -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 }


.suggestion {

    background-color: #fff;
    color: #000;
    height: auto;
    font-family: raleway-regular, Tunga;
}

.suggestion select {

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.suggestion input {
    color: #000;
}

.srchnav {

    background-color: #EEEEEE;
}

.srchnav a:hover {

    background-color: #fff;
    color: #000;
    font-style: normal;
}

.fxn {

    position: fixed;
    align: right;

}

.fxn2 {
    position: fixed;

}

.reslt {
    border-radius: 5px;
    font-size: 12pt;
    margin-bottom: 2px;
    font-family: raleway-regular,  Tunga;
    background-color: #FEFEFE;

}

.reslt .hd2 {
    font-family: raleway-regular, Tunga;
    font-size: 12pt;

}

.reslt i {

    color: #008080;
}

.reslt p {
    padding: 2pt;
    text-indent: 10px;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    font-family: raleway-regular,Tunga;
}

.amenities {
    font-family: raleway-regular,  Tunga;
    /*width: 80%;*/
    border-top: 2px #EEE solid;
    padding-top: 2%;

}

.amenities .left-border {
    border-left: 2px #EEE solid;
}

.d {
    background-color: #EEEEEE;
    border-radius: 5px;
    color: #000;
    padding: 2px;
}

.agents {
}

.agents img {

    height: 100px;
    width: 150px;
}

.roundbox {

    padding: 5px;
    border: 1px solid #dfdfdf;

}

/*border-radius:12px 8px 0px 0px; open_sanssemibold*/
.zch {

}

.zch ul {

    background-color: #000;
    /*background-image: url("../imgs/galaxy.jpg");*/
    margin-bottom: 2px;

    border-radius: 0px 0px 0px 0px;

}

.zch li {
    font-family: raleway-regular;
    border-right: 1px solid #fff;
    text-align: center;
    background-color: #000;
    /*background-image: url("../imgs/galaxy.jpg");*/
    width: 33%;
}

.zch .nav-tabs li a {
    background-color: #000;
    color: #fff;
    font-family: raleway-regular;
}

.zch .nav-tabs li a:hover {
    font-family: Quicksand_Bold;
    background-color: #ed1c24;
    color: #fff;
    border: 0px solid #fff;
}

.zch ul .active a {
    border: 0px solid #fff;
    background-color: #ed1c24;
}

.zch ul .active a:link {
    font-family:raleway-regular;
    border: 0px solid #fff;
    background-color: #ed1c24;
    color: #fff;
}

/*#3579b6  #0e88f5*/
.searchPad {
    font-family: raleway-regular;
    font-weight: 900;
    background-color: #000;
    padding: 10px;
    /*background-image: url("../imgs/galaxy.jpg");*/
    background-repeat: repeat-x;
    /*height: 150px;*/
    color: #fff;
    /*border-radius: 0px 0px 12px 12px;*/
    /*box-shadow: 0px 5px 5px #888888;*/

}

.advanced {
    font-family: raleway-regular;
    font-weight: 900;
    background: #000;
    /* background-image: url("../imgs/galaxy.jpg"); */
    color: #fff;
    height: auto;

}

.adv-search-fieldset {

}

.adv-search-fieldset legend {
    color: #fff;
    font-size: 9pt;
}

.widen {
    border-radius: 0px 0px 0px 0px;
    width: 50%;
    text-align: center;
    background-color: #ed1c24;
    border-color: #ed1c24;
}

.widen:hover {

    background-color: #ed1c24;
    border-color: #fff;
}

/*#ed3020*/
.content-slider ul {
    box-shadow: 0px 5px 5px #888888;
}

/*008080*/
.content-slider li {

    background-color: #fff;
    text-align: center;
    color: #ed1c24;

}

.content-slider li p {
    font-family: raleway-regular;
    font-size: 10pt;
}

.content-slider li .hd2 {
    color: #000;

    font-weight: bold;
}

.featured-slider ul {
    height: 260px;

}

.featured-slider li {

    text-align: center;
    color: #FFF;
    height: 300px;
}

.featured-slider li .caption p {
    font-size: 9pt;
    color: #000;
}

.ISAction {
    padding-left: 10px;
    padding-right: 10px;
}

.lSAction > a {

    height: 32px;
    background-image: url("../../js/lightslider/img/controls.png");

}

.lSNext {
    background-color: #fff;
    border-radius: 15px;
}

.lSPrev {
    background-color: #fff;
    border-radius: 15px;
}

hr.style-one {
    height: 1px;
    border: 0;
    margin-top: 1px;
    /* box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.93); */
    background-image: linear-gradient(to right, rgba(237, 28, 36, 4), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 4));
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.style-three {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(143, 136, 136, 2), rgba(143, 136, 136, 0.75), rgba(143, 136, 136, 2));
}

hr.style-four {
    border: 0;
    height: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-image: linear-gradient(to right, rgba(143, 136, 136, 2), rgba(143, 136, 136, 0.75), rgba(143, 136, 136, 2));
}

.footer {
    background-color: #000;
    height: 50%;
}

.viewer_button {
    background-color: #ed1c24;
    box-shadow: 1px 5px 5px #888888;
    border: 1px solid #ed1c24;
    border-radius: 0px;
    width: 100%;
}

.viewer_button:hover {
    border-color: #fff;
    background-color: #ed1c24;
}

.proper {
    width: auto;
    background: transparent;
    border-radius: 5px;
    color: #000;
    border-color: #EEEEEE;
    border-style: outset;
}

.proper:hover {
    background: transparent;
    border-radius: 5px;
    box-shadow: 1px 5px 5px #888888;
    color: #000;
    border-color: #ccc;
    border-style: ridge;
}

.mod_txt {
    font-family: raleway-regular;
}

.select_control select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.conta {
    background-image: url("../imgs/back.jpg");
    padding-top: 5%;
    padding-bottom: 5%;
}

.mid-word {
    margin-left: 20%;
    margin-right: 20%;
    width: 50%;
    text-align: center;
}

.infolink a {
    color: #008080;
}

.infolink a:hover {
    background-color: #EEEEEE;
}

.rslt {
    font-size: 9pt;
}

h1, h2, h3, h4, h5 {
    font-family: raleway-regular;
    color: inherit;
    border: none;
}

label {
    font-family: raleway-regular;
}

.sort {
    background-color: #bc0417;
    color: #FFF;
    text-decoration: underline;
}

.res-table {
    /*border: 1px inset #960416;*/
    width: 100%;

}

.big-price{
    font-size: 20pt; color: cadetblue;
}
.small-price{
    font-size: 15pt; color: darkgrey;
}
.mid-price{
    font-size: 9pt; color: cadetblue;
}
.sm-price{
    font-size: 5pt; color: cadetblue;
}
.sm-price:hover{
    font-size: 8pt; color: cadetblue;
    border: 1px cadetblue solid;
    padding: 7px;
}
.mid-currency{
    font-size: 7pt; color: darkgrey;
}
.res-table td {
    padding: 2%;
}

.res-table tr th {
    padding: 2px;
}

.roundit {
    background-color: #FFF;
    color: #bc0417;
    border-radius: 20px;
    padding: 2%;
}

/*#556B2F*/
.res-table .thd {
    background-color: #bc0417;
    color: #FFF;
}

.wing {
    position: relative;
}

.wing h2 {
    background-color: #bc0417;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    margin-top: -13%;
    right: -1px;
    top: -1px;
    width: 50%;
    font-size: 14pt;
    padding: 3%;
    opacity: 0.7;
    overflow: hidden;
    transition: transform 300ms;
}

.wing h2:hover {
    background-color: #bc0417;
    color: #FFFFFF;
    font-weight: bolder;
    float: left;
    margin-top: -13%;
    right: -1px;
    top: -1px;
    width: 50%;
    font-size: 14pt;
    padding: 3%;
    opacity: 0.99;
    transition: transform 300ms;
}

.side-border-right {
    border-right: 2px solid #c0c0c0;

}

.side-border-left {
    border-left: 2px solid #c0c0c0;

}

.green-box {
    /*background-color: #bc0417;*/
font-size:9pt;
    color: #08be85;
    -ms-transform: rotate(-0deg); /* IE 9 */
    -webkit-transform: rotate(-0deg); /* Chrome, Safari, Opera */
    transform: rotate(-0deg);
    position: relative;


    /*color: #eef408; #08be85*/
}

.inner-rotate {
    border-radius: 10px;
    padding:  7px;
    border: 2px solid rgba(8, 190, 133, 0.5);
    -ms-transform: rotate(-0deg); /* IE 9 */
    -webkit-transform: rotate(-0deg); /* Chrome, Safari, Opera */
}

.text-yellow {
    color: #5260be;
}

.pricetag {
    font-weight: bolder;
}

.text-small {
    font-size: 8pt;
    pdding: 9px;
}

.navbar-wrapper {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 51px;
}

.navbar-wrapper > .container {
    padding: 0;
}

@media all and (max-width: 768px ) {
    .navbar-wrapper {
        position: relative;
        top: 0px;
    }
}

/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l                  (normal)
.jssora21r                  (normal)
.jssora21l:hover            (normal mouseover)
.jssora21r:hover            (normal mouseover)
.jssora21l.jssora21ldn      (mousedown)
.jssora21r.jssora21rdn      (mousedown)
*/
.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    /* background: url(../img/a21.png) center center no-repeat;*/
    overflow: hidden;
}

.jssora21l {
    background-position: -3px -33px;
}

.jssora21r {
    background-position: -63px -33px;
}

.jssora21l:hover {
    background-position: -123px -33px;
}

.jssora21r:hover {
    background-position: -183px -33px;
}

.jssora21l.jssora21ldn {
    background-position: -243px -33px;
}

.jssora21r.jssora21rdn {
    background-position: -303px -33px;
}

/*front page  outflows*/
.table-autoflow{
    height:299px;
    width: auto;
    overflow:auto;
}

.table-autoflow-xs{
    height:100px;
    width: 100%;
    overflow:auto;
}

.table-autoflow-sm{
    height:280px;
    width: 100%;
    overflow:auto;
}

.table-autoflow-lg{
    height:700px;
    width: 100%;
    overflow:auto;

}

.table-autoflow-md{
    height:453px;
    width:100%;
    overflow:auto;
}

.hoverlink img:hover{
    background-color: #e0e0e0;
/*rgba(80, 199, 255, 0.98);*/
}

.blink_me {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

body {

    font-family: raleway-regular, Tunga, Arial;
    background: #fff;
    /*background: -webkit-linear-gradient(left, #EEEEEE 30%, #FFF 70%);  Chrome10+,Safari5.1+      A9A9A9  LightCyan	#E0FFFF  LightSteelBlue	#B0C4DE*/
}
