
@import "bootstrap-responsive.css";
@import "footer.css";

body {
    background-color: #f0f0f0;
}

.small-font {
    font-size: 11pt;
}

.outlined {
    padding: 30px;
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;
    background-color: white;
    border: 1px solid #dcdcdc
}

/**
* Logo
**/
.darP-logo{
    padding-top: 8px;
}
/**
 * Slide shows
 */
#home-slide-show {
    margin-top: 15px;
    border: 2px inset #e5ffe5;
}

.home-slide-show-container {
    background: #121212;
    -moz-box-shadow: 1px 6px 10px #000000;
    -webkit-box-shadow: 1px 6px 10px #000000;
    box-shadow: 1px 6px 10px #000000;
}

.home-slide-show-container select {
    width: 90%;
}

/**
 * Search
 */
.property-search-button {
    width: 200px;
}

/**
* Utility
*/

.margin-top-20px {
    margin-top: 20px;
}

/**
* magazines
*/

.magazine {
    width: 200px;
    height: 280px;
    float: left;
    margin: 20px 15px 40px 15px;
}

.magazine img {
    border-top: 1px solid #483d8b;
    margin-top: 5px;
}

/**
 * Title Block
 */
.title-block {

    background-color: #333333;
    color: #dcdcdc;

    text-align: center;
    padding: 6px;

    -webkit-border-radius: 10px;
    border-radius: 10px;

    -moz-box-shadow: 1px 1px 0px #000000;
    -webkit-box-shadow: 1px 1px 0px #000000;
    box-shadow: 1px 1px 0px #000000;
}

/**
 * Property result
 */
.price {
    color: #dd0000;
}

.property-result-location {
    color:#000;
    font-style: italic;
}

.property-result-description-blocks {
    margin-top: 15px;

}

.property_result_info_block {
    width: 60px;
    float: left;
    font-size: 10px;
    text-align: center

}

.property_result_icon {
    width: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
 * navigation
 */

.currentStep {
    padding: 6px;
    font-size: 13px;
    width: 20px;
    background-color: #f5f5f5;
    border: 1px ridge orange;
}

.step {
    padding: 6px;
    font-size: 13px;
    width: 20px;
    background-color: white;
    border: 1px ridge #22A0B8;
}

.nextLink {
    padding: 6px;
    font-size: 13px;
}

.previousLink {
    margin-left: 6px;
    font-size: 13px;
    padding-right: 6px;
}

/**
 * Galleria slideshow
 */


/**
 * view property
 */
.view-property-cost {
    font-size: 16px;
    font-weight: bold;
    color: #ed1c24;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 10px;
}

.view-property-description-blocks {
    display: block;

    height: 60px;
    padding: 8px;
    background-color: #dcdcdc;
    border: 1px solid #2f4f4f;
}

.view-property-extras {
    display: block;

    padding: 5px;
    background-color: #dcdcdc;
    border: 1px solid #2f4f4f;

    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.view-property-location {
    color: #8fbc8f;
    font-size: 15px;
    font-style: italic;

}

.agent-photo {
position: relative;
}

.agent-phone {
    color: #ed1c24;
    font-weight: bold;
}

.send-message-title {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #556b2f;

}

/**
 * agents
 */
.agent-summary {
    float: left;
    height: 120px;
    width: 230px;
}

.agent-summary img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
 * info hub
 */
.info-hub-spot:hover {
    border: solid 4px cadetblue;
}

/**
 * landing page slideshow
 */
.landing-page-slideshow {
   border: solid 4px #2f4f4f;
}

#landing-page-slideshow {

}

#landing-page-logo {

}


