#photo_slide {
    border: 1px solid #cdcdcd;
    width: 600px;
    height: 300px;
    background: #222222;
    font: left;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid;
}

#container {
    width: 580px;
    padding: 10px;
    position: relative;
    z-index: 0;
}

#products_example {
    width: 600px;
    height: 282px;
    position: relative;
}

/*
	Slideshow
*/

#products {
    margin-left: 26px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

#products .slides_container {
    width: 366px;
    overflow: hidden;
    float: left;
    position: relative;
    border: 1px solid #dfdfdf;
    display: none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
    width: 366px;
    height: 274px;
    display: block;
}

/*
	Next/prev buttons
*/

#products .next, #products .prev {
    position: absolute;
    top: 127px;
    left: 0;
    width: 21px;
    height: 0;
    padding-top: 21px;
    overflow: hidden;
    display: block;
    z-index: 101;
}

/*
    Pagination
*/

#products .pagination {
    background: #dfdfdf;
    width: 130px;
    padding: 5px 5px;
    float: left;
    margin-left: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#products .pagination li {
    float: left;
    margin: 2px 4px;
    list-style: none;
}

#products .pagination li a {
    display: block;
    width: 55px;
    height: 41px;
    margin: 1px;
    float: left;
    background: #f9f9f9;
}

#products .pagination li.current a {
    border: 1px solid #7f7f7f;
    margin: 0;
}
