 h4{
	 color:#0099ff;
 }
 nav li:hover{
	 background-color:#ff0000;
 }
 .hd1{
	 font-family:Times Tahoma;
	 font-size:12pt;
	 font-weight:bold;
	 padding-bottom:0px;
	 margin-bottom:0px;
 }
 .hd2{
	 color:#ff0000;
 }
 hr{
	 font-weight:bold;
 }
 .footer{
	 background-color:#000;
 }
 .active {
	 font-weight:15pt;
 }
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
	  
  }
  .margine{
	  
	  margin-top:5%;
	 
  }
  .margine2{
	  
	  margin-top:2%;
	 
  }
.navbar-default{
	border:0px;
	background-color:#fff;
}
.collapse{
	background-color#000;
}
.container{ border:0px solid #fff;}
.logoz{
	background-image:url('bootstrap/imgs/logo.png');
	
}
li a:hover{
	
	background-color:#ff0000;
}
li .active{
	
	background-color:#ff0000;
	color:white;
}
