<%@ page import="com.mbwanajm.darproperty.Subscriber" %>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'subscriber.label', default: 'Subscriber')}"/>
    <title>DarProperty >> <g:message code="default.create.label" args="[entityName]"/></title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-7">
            <h1><span class="glyphicon glyphicon-envelope"></span> <g:message code="default.create.label" args="[entityName]"/></h1>
            <g:if test="${flash.message}">
                <div class="message" role="status">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${subscriberInstance}">
                <ul class="errors" role="alert">
                    <g:eachError bean="${subscriberInstance}" var="error">
                        <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message
                                error="${error}"/></li>
                    </g:eachError>
                </ul>
            </g:hasErrors>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-7">
            <g:form action="save">
                <fieldset class="form">
                    <g:render template="form"/>
                </fieldset>
                <fieldset class="buttons">
                    <g:submitButton name="create" class="save btn btn-success"
                                    value="${message(code: 'default.button.create.label', default: 'Create')}"/>
                </fieldset>
            </g:form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-7">
            <br><a class="home" href="${createLink(uri: '/')}"><span
                class="glyphicon glyphicon-hand-left"></span> <g:message code="application.back"/></a>
        </div>
    </div>
</div>

</body>
</html>
