<div class="visible-xs visible-sm">

    <span class="hd1">
        <g:message code="home.intro.featured"/>
        <span class="hd2">
            <g:message code="home.intro.property"/>
        </span>
    </span>
    <hr class="style-one"/>
    <g:render template="/property/featured_property_small" collection="${featuredPropertySmall}"
              var="property"/>

    <g:link controller="property" action="showAllProperties" class="btn btn-block btn-danger">
        <i class="fa fa-list-alt"></i>
        <g:message code="home.viewAll"/>
    </g:link>
    <br>
</div>

<div class="row visible-lg visible-md">
    <span class="hd1">
        <g:message code="home.intro.featured"/>
        <span class="hd2">
            <g:message code="home.intro.property"/>
        </span>
    </span>
    %{--<small class="issue pull-right">--}%
<<<<<<< HEAD
        %{--<i class="fa fa-list-alt"></i>--}%
        %{--<g:link controller="property" action="showAllProperties">--}%
            %{--<g:message code="home.viewAll"/>:--}%
        %{--</g:link>--}%
=======
    %{--<i class="fa fa-list-alt"></i>--}%
    %{--<g:link controller="property" action="showAllProperties">--}%
    %{--<g:message code="home.viewAll"/>:--}%
    %{--</g:link>--}%
>>>>>>> f9d24bb4f16e706150bc2c7850f0b9f679c8bd67

    <hr class="style-one "/>

    <ul class="featured-slider">
        <li>
            <g:render template="../property/property_homeview" collection="${featuredProperty}"
                      var="property"></g:render>
        </li>
    </ul>

</div>



%{--what is this note--}%
<div class="modal fade whatisthis " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content table-autoflow-md">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1" align="center">
                    <h4 class="text-center text-primary text-capitalize">Darproperty <g:message
                            code="home.tools.valueEstimator"></g:message></h4>

                    <g:message code="home.whatisit"></g:message>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> f9d24bb4f16e706150bc2c7850f0b9f679c8bd67
