
<%@ page import="com.mbwanajm.darproperty.Featured_property" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'featured_property.label', default: 'Featured_property')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-featured_property" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-featured_property" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
				<thead>
					<tr>
					
						<th><g:message code="featured_property.receipts.label" default="Receipts" /></th>
					
						<g:sortableColumn property="name" title="${message(code: 'featured_property.name.label', default: 'Name')}" />
					
						<g:sortableColumn property="description" title="${message(code: 'featured_property.description.label', default: 'Description')}" />
					
						<th><g:message code="featured_property.country.label" default="Country" /></th>
					
						<g:sortableColumn property="region" title="${message(code: 'featured_property.region.label', default: 'Region')}" />
					
						<g:sortableColumn property="area" title="${message(code: 'featured_property.area.label', default: 'Area')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${featured_propertyInstanceList}" status="i" var="featured_propertyInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${featured_propertyInstance.id}">${fieldValue(bean: featured_propertyInstance, field: "receipts")}</g:link></td>
					
						<td>${fieldValue(bean: featured_propertyInstance, field: "name")}</td>
					
						<td>${fieldValue(bean: featured_propertyInstance, field: "description")}</td>
					
						<td>${fieldValue(bean: featured_propertyInstance, field: "country")}</td>
					
						<td>${fieldValue(bean: featured_propertyInstance, field: "region")}</td>
					
						<td>${fieldValue(bean: featured_propertyInstance, field: "area")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${featured_propertyInstanceTotal}" />
			</div>
		</div>
	</body>
</html>
