%{--<%@page import="tz.co.darproperty.AmenitiesManger"%>--}%
%{--<%@page import="tz.co.darproperty.Featured"%>--}%
%{--<%@page import="tz.co.darproperty.Receipts"%>--}%
%{--<%@page import="tz.co.darproperty.ReferencesTable"%>--}%
%{--<%@page import="java.io.FileOutputStream"%>--}%
%{--<%@page import="java.io.File"%>--}%
%{--<%@page import="java.io.DataInputStream"%>--}%
%{--<%@page import="javax.servlet.http.Part"%>--}%
%{--<html>--}%
%{--<head>--}%
%{--<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>--}%
%{--<meta name="layout" content="main"/>--}%
%{--<title>DARPROPERTY | FEATURED PROPERTY</title>--}%
%{--</head>--}%
%{--<body>--}%
  %{--<div class="container">--}%
  %{--<!-- VARIABLES -->--}%
  %{--<% --}%
  %{--String refno = "";--}%
  %{--int refid = 0;--}%
  %{--String fname = "";--}%
  %{--String mname = "";--}%
  %{--String lname = "";--}%
  %{--String company = "";--}%
  %{--String phone = "";--}%
  %{--String email = "";--}%
  %{--String tel = "";--}%
  %{----}%
  %{--String pname = "";--}%
  %{--String type = "";--}%
  %{--String saletype = "";--}%
  %{--String country = "";--}%
  %{--String region = "";--}%
  %{--String area = "";--}%
  %{--String location = "";--}%
  %{--String currency = "";--}%
  %{--double price = 0.0;--}%
  %{--String description_en = "";--}%
  %{--String description_sw = "";--}%
  %{--double psize = 0.0;--}%
  %{--String added = "";--}%
  %{--String expired = "";--}%
  %{--int no_of_tags = 0;--}%
  %{--int counter = 0;--}%
  %{----}%
  %{--AmenitiesManger ames = new AmenitiesManger();--}%
  %{--no_of_tags = ames.numberOfTagsData();--}%
  %{--String [] tag_names = ames.fetchTagNames();--}%
  %{--String [] tags = new String[no_of_tags];--}%
  %{--%>--}%
  %{--<g:if test="${request.getParameter("save")!=null }">--}%
  %{--<!-- AFTER SAVE INITIATED -->--}%
  %{--<!-- CLASSES IN USE -->--}%
  %{--<%--}%
%{--//  ReferencesTable rt = new ReferencesTable();--}%
%{--//  Receipts rc = new Receipts();--}%
%{--//  Featured ft = new Featured();--}%
   %{--%>--}%
   %{----}%
    %{--<!-- FETCH PARAMETERS -->--}%
   %{--<%--}%
 %{----}%
 %{----}%
  %{--try{--}%
	  %{----}%
	  %{--refno = request.getParameter("refno");--}%
	  %{--fname = request.getParameter("fname");--}%
	  %{--mname = request.getParameter("mname");--}%
	  %{--lname = request.getParameter("lname");--}%
	  %{--company = request.getParameter("company");--}%
	  %{--phone = request.getParameter("phone");--}%
	  %{--email = request.getParameter("email");--}%
	  %{--tel = request.getParameter("tel");--}%
		%{----}%
	  %{--pname = request.getParameter("name");--}%
	  %{--type = request.getParameter("type");--}%
	  %{--saletype = request.getParameter("saleType");--}%
	  %{--country = request.getParameter("country");--}%
	  %{--region = request.getParameter("region");--}%
	  %{--area = request.getParameter("area");--}%
	  %{--location = request.getParameter("location");--}%
	  %{--currency = request.getParameter("currency");--}%
	  %{--price = Double.parseDouble(request.getParameter("price"));--}%
	  %{--decription_en = request.getParameter("description");--}%
	  %{--description_sw = request.getParameter("descriptionSW");--}%
	  %{--psize = Double.parseDouble(request.getParameter("size"));--}%
	  %{--added = request.getParameter("dateAdded");--}%
	  %{--expired = request.getParameter("dateExpired");--}%
	  %{--counter = Integer.parseInt(request.getParameter("selectedTags"));--}%
	  %{--int j = 0;--}%
	  %{--for(int i = 0; i < no_of_tags; i++){--}%
		  %{----}%
		 %{----}%
				  %{--if( request.getParameter(""+i+"")!=null){--}%
						  %{--tags [j] = request.getParameter(""+i+"");--}%
						  %{----}%
	  							%{--j++;--}%
							  %{--}--}%
		  %{----}%
			  %{----}%
					  %{----}%
				  %{--}--}%
	  %{----}%
	  %{----}%
	  %{--Part filePart = request.getPart("photo1");--}%
	  %{--InputStream inputStream = null;--}%
	%{----}%
	  %{--if (filePart != null) {--}%
		  %{----}%
		  %{--out.println(filePart.getName());--}%
		  %{--out.println(filePart.getSize());--}%
		  %{--out.println(filePart.getContentType());--}%
		   %{----}%
		 %{----}%
		  %{--inputStream = filePart.getInputStream();--}%
	  %{--}--}%
	   %{----}%
	  %{----}%
	   %{----}%
	  %{--}catch(Exception e){out.print("<br>Error "+e);}--}%
   %{--%>--}%
   %{----}%
    %{--<!-- FETCH REFID -->--}%
  %{--<%--}%
  %{--rt.setRefNo(refno);--}%
  %{--rt.fetch_refid();--}%
  %{--refid = rt.getRefId();--}%
  %{--rc.setRefId(refId);--}%
  %{--rc.setFirst_name(fname);--}%
  %{--rc.setLast_name(last_name)--}%
  %{----}%
   %{--%>--}%
   %{----}%
   %{--<!-- CREATE RECEIPT -->--}%
  %{--<%--}%
  %{----}%
   %{--%>--}%
  %{--<div class="row">--}%
  %{--<div class="panel panel-default">--}%
  %{--<div class="panel-heading">--}%
  	%{--<h4 class="modal-title mod_txt" align="center">ADVERT REPORT</h4>--}%
  %{--</div>--}%
  %{--<div class="panel-body" > --}%
  %{--<div class="container">--}%
  %{--<div class="row">--}%
  %{--<div class="col-sm-5 offset"></div>--}%
  %{--<div class="col-sm-6">--}%
  %{--<p><u>Names:</u>  ${fname } ${lname } ${mname }</p>--}%
  %{--<p><u> Title:</u>  ${pname }</p>--}%
  %{--<p><u> Offers:</u> ${type }, ${saletype }</p>--}%
  %{--<p><u> Found:</u> ${country }, ${area } - ${region }--}%
  %{--<p><u>Location:</u> ${location }</p>--}%
  %{--<p><u> Size:</u> ${psize } </p>--}%
  %{--<p><u> Price:</u> ${price } (${currency })</p>--}%
  %{--<p ><u>Description:</u> <span class="hd4"> ${decription_en }</span></p>--}%
  %{--<p ><u>Swahili Review:</u> <span class="hd4"> ${description_sw }</span></p>--}%
  %{--<p><u>Contacts:</u> ${email }, ${phone } Tel: ${tel }</p>--}%
  %{--<p><u>Others Available:</u>--}%
  %{--<% for(int i = 0; i < counter; i++){--}%
		%{--if(tags[i]!=null){--}%
			%{--out.print("<br>"+(i+1)+"> "+tags[i]+"");--}%
		%{--}--}%
		%{--} %>--}%
		 %{----}%
		%{--</p>--}%
 %{----}%
   %{----}%
   %{--<p>Advert Added at: <span class="hd3">${added }</span> </p>--}%
   %{--<p>Advert Expires at: <span class="hd2">${expired }</span> </p>--}%
   %{----}%
   %{--<g:link controller="home" action="home" class="btn btn-default"> BACK </g:link>--}%
  %{--</div>--}%
  %{--<div class=""></div>--}%
  %{--</div>--}%
  %{--</div>--}%
 %{--</div>--}%
  %{--<div class="panel-footer">--}%
   %{--<p class="hd4" align="left"> <a href="">Terms & Conditions</a> | <a href="">Help</a> | <a href="">Contact Us</a></p>--}%
  %{--</div>--}%
  %{--</div>--}%
  %{--</div>--}%
  %{--</g:if>--}%
  %{----}%
  %{--</div>--}%
%{--</body>--}%
%{--</html>--}%