.pagination a{
	
	border-radius:7px;
}
.pagination a:link{
	
	color:#ff0000;
}
.pagination a:visited{
	
	color:#000;
}
.pagination a:hover{
	
	background-color:#000;
	color: #f0f0f0;
}
.srch{
	Font-family:tunga;
	font-size:11pt;
	color:#ed1c24;
	
}
.srch{
	Font-family:sans-serif;
	font-size:11pt;
	color:#000;
	
}
.bgico{
	
	height:100%;
}
.gotop{
	
	color:#000; position:relative; margin:12px; box-shadow:0px 2px 2px #ccc;
}
.gotop:hover{
	
	text-decoration: none;
}
#formdt{
	
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	
}

.btnm  {
	font-family:tunga,arial;
	color:#fff;
	background-color:#ed1c24;
	border: 1px solid #ed1c24;
}

.btnm:hover{
	
	font-family:tunga,arial;
	color:#fff;
	background-color:#ed1c24;
	border: 1px solid #ed1c24;
}


.dtz{
	
	
}
.dtz label{
	
	align:right;
	font-size:10pt;
	font-family:tunga,arial;
}
.table{
	
	color:#fff;
	border:no-border;
}
.nextarcright{
	
}
.nextarcright a{
	border: 1px solid #FFFAFA ;
}
.nextarcright a:hover{
	border: 1px solid #fff;
	background-color:#fff;
	
}
.nextarcright img:hover{
	box-shadow:5px 2px 6px #ff0000;
	
}
.nextarcright img{
	box-shadow:5px 2px 5px #888888;
	width:30px;
	height:105px;
	border-radius:0px 12px 12px 0px;
}
.nextarcleft{
	box-shadow:1px 5px 0px 0px #888888;
	width:30px;
	height:150px;
	border-radius:12px 0px 0px 12px;
}
.foothot{
	
}
.rslides{
	
	box-shadow:2px 5px 2px #888888;
	
}
.col-xs-10 .rslides img{ 
	border:0px solid #fff;
	box-shadow:2px 5px 2px #888888;
	border-radius: 10px;
	}
.rslides img{
width:100%;
height:100%;
}
.propresult{
	border-radius:8px;
	box-shadow: 0px 10px 10px #888888;
}
.fieldparts{
	
	border:0px groove #fff;
	margin: 7px;
	
	border-radius: 12px;
	box-shadow: 0px 5px 2px #888888;
	
}
.fieldparts legend{
	font-family:Myriad Pro, Helvetica, sans-serif;
	font-size:10pt;
	color:#c0c0c0;
}

.propbody{
	box-shadow: 0px 0px 2px #E6E6FA;
	border-radius:8px 0px 0px 8px;
	background: #E6E6FA;
	font-family:Myriad Pro, Helvetica, sans-serif;
	background: -webkit-linear-gradient(left,#E6E6FA 0%,   #FFFFFF 100%); /* Chrome10+,Safari5.1+*/
}
.span7 h4{
	font-size:14pt;
	
	/*
	text-shadow:4px 2px 4px #888888;
	#FFC0CB*/
}
.span7 h4:hover{
	font-size:14pt;
	
	
	/*
	text-shadow:4px 2px 4px #FFC0CB ;
	#pink FFC0CB  yellow #FFD700*/
}
.articlehead{
	text-align:left;
	font-weight:bold;
	font-size: 8pt;
	color:#014d60;
	font-family:Myriad Pro ,Myriad Pro, Helvetica, sans-serif;
}
.articlebody{
	

font-size:12pt;
color:#014d60;
font-family:Tunga,Myriad Pro;
padding:0px;


}
nav{
	height:20px;
	
	
}
.magazine{
	box-shadow: 0px 5px 5px #888888;
	
}
.issue{
	
	color:#000; 
	
}
.issue a{
	
	border:1px solid #fff;
}
.issue:hover{

	
}
.issue a:hover{
	color:#ed1c24;
	border:1px solid #fff;
	
}
.slide{
	
	box-shadow: 0px 5px 5px #888888;
}


.hdz{
	
	position:fixed;
}



.d1{
	
}
.d1 .collapse{
background-color: #f0f0f0;
color:#ed1c24; 
border-radius:1.2px;
}
.lang img{
	height:13px;
	weght:13px;
}
.navbar{
	
	border:0px solid #fff;
}
.topper{
	
	
	
}
.topper .collapse{
	
	border-radius:12px 0px 0px 12px;
	box-shadow: 2px 3px 2px #ccc;
}

.topper .collapse li a:hover{
	
	background-color: #ed1c24;
	color:#fff;
}
.topper .collapse li a:active{
	
	font-style:bold;
	color:#fff;
	background-color: #ed1c24;
}


h2 a{
	
	color:#000;
}
h5{
	
	background-color: #ed1c24;
	color:#fff;
}
.thumbnail h5 a{
	
	color:#fff;
}
 h4{
	 color:#ed1c24;
 }
 li p{
 	font-size:18pt;
 }
 nav li:hover{
	 background-color:#ed1c24;
 }
 .hd1{
	 font-family: Myriad Pro, Helvetica, sans-serif;
	 font-size:10pt;
	 font-weight:bold;
	 padding-bottom:0px;
	 margin-bottom:0px;
 }
 .hd2{
 		font-family: Myriad Pro, Helvetica, sans-serif;
	 color:#ed1c24;
	 
 }
 hr{
	 font-weight:bold;
 }
 .footer{
	 background-color:#000;
	 height:50%;
 }
 .active {
	 font-weight:15pt;
 }
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      
	  
  }
  .lownav{
  	
  }
  .strp li a{
  border-right:1px solid #fff;
  
  }
   .strp .active a{
  border-left:1px solid #fff;
  
  }
  .margine{
	  
	  margin-top:5%;
	 
  }
  .margine2{
	  
	  margin-top:2%;
	 
  }

.collapse{
	background-color:#000;
}
.container{ border:0px solid #fff;}
.logoz{
	background-image:url('bootstrap/imgs/logo.png');
	
}
li a:hover{
	
	background-color:#ed1c24;
}
li .active{
	
	background-color:#ed1c24;
	color:white;
}




.small-font {
    font-size: 12px;
}

.outlined {
    padding: 30px;
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;
    background-color: white;
    border: 1px solid #dcdcdc
}
.dafa{
	background-color: #A9A9A9;
	color:#fff;
	box-shadow: 0px 0px 5px #fff;
}
.container .col-sm-12 h3{
	font-size:12pt;
	background-color:#000;
	text-indent:12px;
	padding:5px;
	border-radius:12px;
	box-shadow: 0px 2px 5px #000;
	text-decoration:none;
	color:#fff;
}
.container-fluid .col-sm-12 h3{
	font-size:12pt;
	background-color:#000;
	text-indent:12px;
	padding:5px;
	border-radius:12px;
	box-shadow: 0px 2px 5px #000;
	text-decoration:none;
	color:#fff;
}
.hanger{}
body{
	
	font-family: Myriad Pro, Tunga;
	background: #fff;
	background: -webkit-linear-gradient(left,	#f0f0f0 30%,   #FFF 70%); /* Chrome10+,Safari5.1+      A9A9A9  LightCyan	#E0FFFF  LightSteelBlue	#B0C4DE*/
}
