<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">

    <g:form controller="subscriber" action="save">

        <div class="contdol-group">

        </div>
        <table class="table hd4">
            <tr><td><label for="mce-EMAIL" class='contdol-label'>Email Address  <span class="asterisk">*</span>
            </label></td><td><input type="email" value="" name="email" class="required email hd1" autocomplete="off"
                                    id="mce-EMAIL"></td></tr>
            <tr></tr>
            <tr><td><label for="mce-FNAME" class="contdol-label">First Name</label>
            </td><td><input type="text" value="" name="firstname" autocomplete="off" class="hd1" id="mce-FNAME"></td>
            </tr>
            <tr></tr>
            <tr><td><label for="mce-LNAME" class="contdol-label">Last Name</label></td><td><input type="text" value=""
                                                                                                  autocomplete="off"
                                                                                                  name="lastname"
                                                                                                  class="hd1"
                                                                                                  id="mce-LNAME"></td>
            </tr>
            <tr></tr>
            <tr><td></td><td><div class="clear"><input type="submit" value="Subscribe" name="subscribe"
                                                       id="mc-embedded-subscribe"
                                                       class="button btn btn-success"></div></td></tr>
        </table>

    </g:form>
</div>


<!--End mc_embed_signup-->