<a href="${advert.url}"
   title="${advert.caption}" target="_blank">
    <img src="<g:createLink controller='image' action='renderAdvert' id='${advert.id}'/>" alt="${advert.caption}">
</a>

<h3></h3>

<p></p>
<!--<p align="center"><span class="glyphicon glyphicon-star-empty"></span></p>-->
      