<html>
<head>

<title>Mortgage FaQ</title>
<meta name="layout" content="mortgage"/>
</head>
<body>
<div class="container">

<div class="row">

	<div class="col-sm-8">
	<ol>
	<%
	    def faq = com.mbwanajm.darproperty.Faq.list()

	 %>
		<g:each var="f" in="${faq}" >
			<li><h3>${f.question}</h3><p>${f.answer}</p></li>
		</g:each>

	 </ol>
	</div>
</div>
</div>

	
</body>
</html>