<html>
<head>

    <title>DarProperty Mortgage</title>
    <meta name="layout" content="mortgage"/>
</head>

<body>
<div class="container">
    <!--<h3 align="center"> <b>ARTICLES ON MORTGAGE</b> </h3>-->
</div>
<g:render template="articles"></g:render>

</body>
</html>