<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
  <title>DarProperty</title>
    <meta name='layout' content="main"/>
</head>
<body>
<div class='row'>
    <div class='span12'>
        <div class='alert alert-success'>You have logged out succesfully</div>
    </div>
</div>

</body>
</html>