<div>
    <object style="width:950px;height:800px">
        <param name="movie"
               value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;backgroundColor=%23222222&amp;documentId=121106172109-a4f552c915f74ac0b8eb11beb788ed2c"/>
        <param name="allowfullscreen" value="true"/>
        <param name="menu" value="false"/>
        <param name="wmode" value="transparent"/>

        <embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf"
               type="application/x-shockwave-flash"
               allowfullscreen="true"
               menu="false"
               wmode="transparent"
               style="width:950px;height:800px"
               flashvars="mode=mini&amp;backgroundColor=%23222222&amp;documentId=121106172109-a4f552c915f74ac0b8eb11beb788ed2c"/>
    </object>
</div>